{% extends 'base.html' %}

{% block head %}
<title>Shop</title>
{% endblock  %}


{% block body %}
    <nav class="navbar">
        <h1>RAHISI</h1>

        <ul>
            <a href=""><li>Home</li></a>
            <a href=""><li>Shop</li></a>
            <a href=""><li>About Us</li></a>
            <a href=""><li>Contact</li></a>            
        </ul>

        <div class="left_items">
            <div class="cart_nav">
                <h4>Cart</h4>
                <img src="{{url_for('static',filename='bxs_cart.png')}}" alt="">
                <div class="cart_number"><span>3</span></div>
            </div>

            <div class="log_reg">
                <button class="login" >Log in</button>
                <button class="register_btn">Register</button>
            </div>
        </div>

    </nav>

    <section class="hero">

        <div class="hero_content">
            <h1>Get high quality clothes from us</h1>
            <p>Making our customers look good is our priority</p>
            <button>Shop Now</button>
        </div>

        <div class="hero_images">
            <img src="{{url_for('static',filename='Rectangle 4.png')}}" alt="" class="img_1">
             <img src="{{url_for('static',filename='Rectangle 3.png')}}" alt="" class="img_2">
            <img src="{{url_for('static',filename='Rectangle 1.png')}}" alt="" class="img_3"> 
        </div>

    </section>

    <section>

        <div>
            <h1>Filter</h1>

            <div class="filter_container">
                <img src="{{url_for('static',filename='T-shirt.png')}}" alt="">
                <h3 style="color: red;">T-shirt</h3>
            </div>


            <div class="filter_container">
                <img src="{{url_for('static',filename='T-shirt.png')}}" alt="">
                <h3 style="color: red;">T-shirt</h3>
            </div>


            <div class="filter_container">
                <img src="{{url_for('static',filename='T-shirt.png')}}" alt="">
                <h3 style="color: red;">T-shirt</h3>
            </div>


            <div class="filter_container">
                <img src="{{url_for('static',filename='T-shirt.png')}}" alt="">
                <h3 style="color: red;">T-shirt</h3>
            </div>
        </div>

    </section>
{% endblock  %}